# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Python (legacy)
*.pyc
__pycache__/
*.spec
buildozer.spec

# OS
.DS_Store
Thumbs.db

# Temp
*.zip
build_logs/
build_logs2/
scripts/
